*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}
h1 {
    font-size: 48px;
    font-weight: 100;
}
.contents1{
    font-size: 20px;
    font-weight: lighter;
}
.contents1_bold{
    font-size: 18px;
    font-weight: bold;
}
.contents3{
    font-size: 14px;
    font-weight: 100;
}
.result{
    font-size: 24px;
}
.intro_bg{
    /*인트로 부분 배경화면 지정*/
    background-color: #FFC7C7;
    width: 100%;
    height: 100%;
}
.header{
    /* 인트로 부분 메뉴 디자인*/
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    width: 1280px;
    margin:auto;
    height: 86px;
}
.LogoArea{
    /*로고 입력 창 주변 디자인*/
    /*width: 200px;
    height: 40px;*/
    margin-top: 24px;
    color: #fff;
}
.day_with{
    /*width: 300px;
    height: 40px;*/
    margin-top: 24px;
    color: #fff;
    text-align: center;
}
.nav {
    /*상단 바 디자인*/
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    /*width: calc(1280px - 300px);*/
     /*색 넣어서 영역 구분 확인하기*/
}
.nav > li{
    margin-left: 84px;
}
.nav > li > a{
    color: #fff;
}

/*main_text0*/
.main_text0{
    width: 100%;
    height: 620px;
    background: #F6F6F6;
}
.main_text0 > ul{
    /* 20px font 가져다쓰기 */
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;
    text-align: center;
}
.main_text0 > ul > li{
    height: 620px;
}
.main_text0 > ul > li:not(last-child){
    border-right: grey;
    border-right-style: solid;
    border-right-width: 1px;
    font-size: medium;
}
.main_text0 > .calander > li > .to_do_list > .today > li:hover {
        background-color: #AAAAAA;
        color: #fff;
}
.cal_nav {
    /*일정 전환 버튼 디자인*/
    width: 95%;
    display: flex;
    justify-content: flex-end;
    line-height: 20px;
    margin-top: 5px;
     /*색 넣어서 영역 구분 확인하기*/
}
.cal_nav > li{
    margin-left: 20px;
}

#calendar-wrap {
    margin: 10px 20px;

}
#calendar {
    width: 100%; 
    height: auto;
}
#calendar > a {
    color: FFE2E2;
    text-decoration: none;
}

#calendar > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
}
  
#calendar li {
    display: block;
    float: left;
    width:14%;
    padding: 5px;
    box-sizing:border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
  }
  
#calendar ul.weekdays {
    width: 97.6%;
    height: 40px;
    background: #FFE2E2;
  }
  
#calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #AAAAAA;
    font-size: 13px;
  }
  
#calendar .days li {
    height: 90px;
  }
  
#calendar .days li:hover {
    background: #d3d3d3;
  }
  
#calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    color: #333;
    width: 20px;
    border-radius: 50%;
    float: right;
}
  
#calendar .event {
    clear: both;
    display: block;
    font-size: 12px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 9px;
    background: #e4f2f2;
    border: 1px solid #b5dbdc;
    color: #009aaf;
    text-decoration: none;
  }
  
#calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;  
  }
  
#calendar .other-month {
    background: #f5f5f5;
    color: #666;
  }

/*main_text2*/
.main_text2{
    width: 100%;
    height: 200px;
    background-color: #AAAAAA;
    font-size: 10px;
}
.main_text2 > ul{
    display: flex;
    padding-top: 40px;
}
.main_text2 > ul > li{
    flex: 1;
    text-align: center;
}
.main_text2 > ul > li > div > h2,
.main_text2 > ul > li > div{
    color: white;
}
.more{
    width: 150px;
    height: 40px;
    border: 1px solid white;
    cursor: pointer;
    line-height: 40px;
    margin: 16px auto;
}
footer{
    background: #1f1f1f;
    display: flex;
    /*flex에 1을 줄 때를 제외하고는 flex의 합은 12*/
    padding: 30px;
}
footer > div:first-child{
    flex: 3;
    text-align: center;
    color: #fff;
    
}
footer > div:last-child{
    flex: 9;
    color: #fff;

}